Repository shinGangan/nuxt-nuxtui-templates, changes with the labels that .github/labeler.yml gives for each.
All labels: chore 🏠, docs ✍️, enhancement 🚀, testing ✅

.github/labeler.yml:

'chore 🏠':
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
          - .vscode/*

'docs ✍️':
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**/*'
          - '**/*.md'

'enhancement 🚀':
  - changed-files:
      - any-glob-to-any-file:
          - 'src/**/*'

'testing ✅':
  - changed-files:
      - any-glob-to-any-file:
          - '**/test/**/*'
          - '**/**/*.test.*'

chore(ci): update pnpm and setup-node actions in CI workflow
  .github/workflows/lint.yml
Labels: chore 🏠

chore(ci): update pnpm and setup-node actions in CI workflow (#95)
  .github/workflows/lint.yml
Labels: chore 🏠

chore(deps): update node engine requirement to ^22.14.0
  package.json
  pnpm-lock.yaml
  src/package.json
Labels: enhancement 🚀

chore(deps): remove `eslint-plugin-tailwindcss` dependency
  package.json
  pnpm-lock.yaml
Labels: none

chore(deps): remove `eslint-plugin-tailwindcss` from ESLint configuration
  src/eslint.config.js
Labels: enhancement 🚀

chore(vscode): add instruction for code review comments in Japanese to pull request template
  .github/pull_request_template.md
Labels: chore 🏠, docs ✍️

chore(vscode): update extensions and settings for GitHub Copilot integration
  .vscode/extensions.json
  .vscode/settings.json
Labels: chore 🏠

chore: update Node.js engine requirement and upgrade Nuxt version
  package.json
  pnpm-lock.yaml
  src/package.json
Labels: enhancement 🚀

chore(deps): update nuxt version specification to exact version
  pnpm-lock.yaml
  src/package.json
Labels: enhancement 🚀

chore: update Node.js engine requirement and upgrade Nuxt version
  package.json
  pnpm-lock.yaml
  src/package.json
Labels: enhancement 🚀

chore(deps): update nuxt version specification to exact version
  pnpm-lock.yaml
  src/package.json
Labels: enhancement 🚀

refactor(ci): refactor the ESLint workflow
  .github/workflows/lint.yml
Labels: chore 🏠

chore: add ui configuration to nuxt config
  src/nuxt.config.ts
Labels: enhancement 🚀

chore: update vue rules in eslint configuration
  src/eslint.config.js
Labels: enhancement 🚀

chore: update TypeScript rules in eslint configuration
  src/eslint.config.js
Labels: enhancement 🚀

chore: simplify eslint configuration by removing redundant plugin entries
  src/eslint.config.js
Labels: enhancement 🚀

chore: add rule to allow single-extends for empty object types in TypeScript
  src/eslint.config.js
Labels: enhancement 🚀

chore: simplify TypeScript rule for empty object types in eslint configuration
  src/eslint.config.js
Labels: enhancement 🚀

chore: update pnpm workspace and package.json to use catalogs for dependency management
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/package.json
Labels: enhancement 🚀

chore: refactor scripts in package.json for improved organization
  package.json
  src/package.json
Labels: enhancement 🚀

chore(deps): update `@iconify-json/heroicons` and add `@iconify-json/simple-icons` to devDependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/package.json
Labels: enhancement 🚀

chore(deps): update version of '@iconify-json/heroicons' to ^1.2.2 in pnpm workspace and lockfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: replace `eslint.config.js` to `eslint.config.mjs`
  src/eslint.config.mjs
Labels: enhancement 🚀

chore: add template for pull request description
  .vscode/settings.json
Labels: chore 🏠

exp
  .github/workflows/pr.yml
  .vscode/settings.json
Labels: chore 🏠

chore(vscode): add default template for pull request descriptions
  .vscode/settings.json
Labels: chore 🏠

chore: update pull request template to clarify review instructions in Japanese
  .github/pull_request_template.md
Labels: chore 🏠, docs ✍️

fix: Update .github/pull_request_template.md
  .github/pull_request_template.md
Labels: chore 🏠, docs ✍️

fix: Update .github/pull_request_template.md
  .github/pull_request_template.md
Labels: chore 🏠, docs ✍️

chore: update package dependencies to correct catalog references and improve linting configuration
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/eslint.config.mjs
  src/package.json
Labels: enhancement 🚀

chore: add `@intlify/eslint-plugin-vue-i18n` for improved linting support
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/eslint.config.mjs
Labels: enhancement 🚀

chore: change TypeScript rule for consistent type definitions to warning and add unused vars rule
  src/eslint.config.mjs
Labels: enhancement 🚀

chore: add `nuxt/jsdoc` rules
  src/eslint.config.mjs
Labels: enhancement 🚀

chore: Migrate to Nuxt UI v3
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app/app.config.ts
  src/app/app.vue
  src/app/assets/css/main.css
  src/app/layouts/default.vue
  src/app/pages/index.vue
  src/nuxt.config.ts
  src/package.json
Labels: enhancement 🚀

chore: update nuxt.config.ts for production settings and enable strict TypeScript checks
  src/nuxt.config.ts
  src/shared/types/.keep
Labels: enhancement 🚀
